{% extends "main" %}
{% block body %}
    <div class="pb-17"></div>
    <div class="container-fluid mt-n22 px-0">
       <div class="row mt-6">
            <div class="col-md-12">
                <!-- card  -->
                <div class="card">
                    <!-- card header  -->
                    <div class="card-header bg-white py-4">
                        <h4 class="mb-0">DASHBOARD</h4>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}