{% extends "main" %}
{% block body %}

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Products</h2>
                </div>
            </div>
        </div>
        <div class="text-right">
            <form action="" method="GET">
                <label for="category">Category</label> &nbsp;&nbsp;
                <select name="category" class="select2js">
                    <option value="">--All--</option>
                    {% for s in categories %}
                        <option value="{{ s.id }}" {% if filters.category == s.id %}selected{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-sm btn-dark">Filter</button>
            </form>
            <hr />
        </div>
        <p class="text-right">
            {% permission product_create %}
                <a href="{% route_url product_create %}" class="btn btn-sm btn-success">
                    <i class="fa fw fa-plus-circle"></i> Create
                </a>
            {% endpermission %}
        </p>
        {% if list.size > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Category</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in list %}
                            <tr>
                                <td>{{ u.name }}</td>
                                <td>{{ u.description }}</td>
                                <td><b class="money">${{ u.price|format:2 }}</b></td>
                                <td><b class="money">{{ u.quantity|format:2 }}</b></td>
                                <td><b class="money">${{ u.quantity|times:u.price|format:2 }}</b></td>
                                <td>{{ u.category.name }}</td>
                                <td>{{ u.created_at|date:"Y-m-d H:i:s" }}</td>
                                <td>{{ u.updated_at|date:"Y-m-d H:i:s" }}</td>
                                <td  class="actions">
                                    {% permission product_detail %}
                                        <a href="{% route_url product_detail id:u.id %}" class="btn btn-xs btn-icon btn-pill btn-dark">
                                            <i class="fa fa-fw fa-eye"></i>
                                        </a>
                                    {% endpermission %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br />
            <div class="text-center">
                {{ pagination|raw }}
            </div>
        {% else %}
            <p class="alert alert-info">No data available to display</p>
        {% endif %}
    </div>
</div>
{% endblock %}<!-- end block body -->